<div class="container">
  <div class="compact_form">
    <h2><%= t("devise.views.sessions.new.heading") %></h2>
    <hr>

    <% if Keycloak::enabled? %>
      <%= link_to "Sign in with #{Keycloak::host}", omniauth_authorize_path('user', 'keycloakopenid'), class: 'btn btn-success' %>
      <% if Gpiu::allow_local_accounts? %>
        <hr>
        <%= render 'devise/shared/login_form', user: resource %>
      <% end %>
    <% else %>
      <%= render 'devise/shared/login_form', user: resource %>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
