<p><%= t("devise.views.mailer.mail_changed.hello") %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t("devise.views.mailer.mail_changed.text") %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t("devise.views.mailer.mail_changed.text") %> <%= @resource.email %>.</p>
<% end %>
