<p><%= t("devise.views.mailer.pass_reset.hello") %> <%= @resource.email %>!</p>

<p><%= t("devise.views.mailer.pass_reset.requested") %></p>

<p><%= link_to t("devise.views.mailer.pass_reset.change"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("devise.views.mailer.pass_reset.didnt_request") %></p>
<p><%= t("devise.views.mailer.pass_reset.no_change") %></p>
