<p><%= t("devise.views.mailer.unlock.hello") %> <%= @resource.email %>!</p>

<p><%= t("devise.views.mailer.unlock.acc_locked") %></p>

<p><%= t("devise.views.mailer.unlock.link_description") %></p>

<p><%= link_to t("devise.views.mailer.unlock.unlock"), unlock_url(@resource, unlock_token: @token) %></p>
